<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans">

	<!-- load the properties file: info.properties -->
	<context:property-placeholder location="classpath:info.properties"/>
    <!-- Define your beans here -->
	<!-- By declaring <context: component-scan we telling to Spring to look up for class which contains @Component annotation,
	grab him and creat bean. We are no longer need in XML hard coding, Spring will do everything for us :) -->
	<context:component-scan base-package="pt2"/>

</beans>





