<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

   		 <bean id="baseBallCoach"
    		class="pt1.BaseBallCoach">
			 <constructor-arg ref="myService"/>
		 </bean>

		<bean id="myService"
		class="pt1.SimpleServiceImplementation">
		</bean>

	<!-- If we want to use setter injection we need to define property for our helper object(dependency)
	EXAMPLE:
	<bean id = "baseBallCoach"
		class = "pt1.BaseBallCoach">
		<property name = "service" ref="myService"/>
	</bean>

	Spring will actually get the property name and will do something like this:
	public void setService (..)
	so in our case the whole picture inside Spring will be looking like:
	BaseBallCoach baseBallCoach = new BaseBallCoach();
	baseBallCoach.setService(MyService);

	-->



</beans>





